<!DOCTYPE html>
<html>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Heartland Advantage</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/">List</a></li>
      <li><a href="/addrec">Add</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top: 80px;">
  <h3>
    What is this all about?
  </h3>
  <p>
    I have been doing computer work since 1975. In fields such as insurance, banking, wholesale and shipping, and mental health care. 
    But after suffering 3 heart attacks last year, I wanted to see if I still had the 'sharps' to design from scratch. This is a project
    I am using to test that out.
  </p>
  </div>  
</body>
</html>