<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
  	<input type="hidden" ng-model="user.createdcreated" />
    Name:<br>
    <input type="text" ng-model="user.name"><br>
    Age:<br>
    <input type="text" ng-model="user.age">
    <br><br>
    <button ng-click="reset()">RESET</button>
    <button ng-click="submit()">Submit</button>
  </form>
  <p>form = [[user]]</p>
  <p>master = [[master]]</p>
</div>

<script>

app = angular.module('myApp', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
});  
  
app.controller('formCtrl', function($scope) {
    $scope.master = {created:{{ created }}, name:"John", age:"32"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
    $scope.submit = function() {
    var req = {
     method: 'POST',
     url: '/adddata',
     data: JSON.stringify($scope.user)
    }
    $http(req).then(function(){alert("Posted")};    
});
  
</script>

</body>
</html>
