<html>
<head>
<title>Test Add / Modify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("#submit").click(function(e){
    alert("Pressed");
//    e.preventDefault();
    $.post("/adddata",
    {
      kv: $("#kv").val(),
      mode: $("#mode").val(),
      fname: $("#fname").val(),
      lname: $("#lname").val(),
      address: $("#address").val(),
      city: $("#city").val(),
      phone: $("#phone").val()
    },
    function(data,status){
      alert(data);
      window.location.href="/";
    };
  );
));
}); 
</script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Heartland Advantage</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/">List</a></li>
      <li><a href="/w3">w3 List</a></li>      
      <li><a href="/ang">Angular List</a></li>      
      <li><a href="/addrec">Add</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top: 80px;">
<div class="row">
  <div class="col-md-3">&nbsp;</div>
  <div class="col-md-6">
    <form method="POST" action="/adddata">
    <input type="hidden" id="kv" name="kv" value="{{remote.kv}}">
    <input type="hidden" id="mode" name="mode" value="{{remote.mode}}">
    <table class="table table-bordered">
    <tr><td>First Name</td>
    <td> <input type="text" id="fname" name="fname" size="30" value="{{remote.fname}}" class="form-control">
      </td></tr>
    <tr><td>Last Name</td>
    <td> <input type="text" id="lname" name="lname" size="30" value="{{remote.lname}}" class="form-control">
      </td></tr>
    <tr><td>
      Address</td><td>
      <input type="text" id="address" name="address" size="10" value="{{remote.address}}" class="form-control">
    </td></tr>
    <tr><td>
      City/St</td><td>
      <input type="text" id="city" name="city" value="{{remote.city}}" class="form-control">
    </td></tr>
    <tr><td>
      Phone</td><td>
      <input type="text" id="phone" name="phone" value="{{remote.phone}}" class="form-control">
    </td></tr>
    <tr><td colspan="2" align="center">
      <button type="button" id="submit" class="btn btn-primary">{{remote.mode}}</button>
      </td></tr>
    </table>  
    </form>
    </div>
  <div class="col-md-3">
      &nbsp;
    </div>
</div>  
</body>
</html>