<!DOCTYPE html>
<html>
  <title>Listing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<p>
  <a href="/addrec"><strong>Add Record</strong></a>
  </p>
<div ng-app="myApp" ng-controller="customersCtrl"> 
<div class="container">
<table class="table table-bordered table-striped">
  <tr>
    <th>&nbsp;&nbsp;</th>
    <th>Created</th>
    <th>Name</th>
    <th>Age</th>
    <th>Family</th>
  </tr>
  <tr ng-repeat="x in names">
    <td><a href="deldata?kv=[[x.created]]"><strong>X</strong></a>&nbsp;&nbsp;<a href="modrec?kv=[[x.created]]"><strong>E</strong></a>
    </td>
    <td>[[ x.created | date ]]</td>
    <td>[[ x.name ]]</td>
    <td>[[ x.age ]]</td>
    <td>[[ x.married ]]</td>
  </tr>
</table>
</div>
  </div>
<script>
app = angular.module('myApp', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
});  

app.controller('customersCtrl', function($scope, $http) {
    $http.get("https://zpie.now.sh/json")
    .then(function (response) {$scope.names = response.data.records;});
});
</script>

</body>
</html>
