  <!DOCTYPE html>
<html>
  <title>Listing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AppController</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/">List</a></li>
      <li><a href="/w3">w3 List</a></li>      
      <li><a href="/ang">Angular List</a></li>      
      <li><a href="/addrec">Add</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top: 80px;">
<div class="jumbotron">
  <h1>AppController</h1> 
  <h4>This is a sample project I've created and working on to test out new technoligies and techniques.</h4> 
  <h4>Tech featured: MongoDB, Redis, Flask, Python, Bootstrap, Zeit, and Thunkable for Mobile support.</h4> 
  <h4>I am Bruce Gordon. Tecumseh NE. 402-921-0223.</h4> 
</div>
</div>
<div ng-app="myApp" ng-controller="customersCtrl"> 
<div class="container">
<table class="table table-bordered table-striped">
  <tr>
    <th><a href="/addrec"><strong>Add Record</strong></a></th>
    <th>First</th>
    <th>Last</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone</th>
  </tr>
  {% for row in data %}
  <tr>
    <td><a href="deldata?kv={{row['kv'] }}"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;<a href="modrec?kv={{row['kv']}}"><span class="glyphicon glyphicon-edit"></span></a>
    </td>
    <td>{{ row['fname'] }}</td>
    <td>{{ row['lname'] }}</td>
    <td>{{ row['address'] }}</td>
    <td>{{ row['city'] }}</td>
    <td>{{ row['phone'] }}</td>
  </tr>
  {% endfor %}
</table>
</div>
  </div>
<script>
</script>

</body>
</html>

